<nav class="navbar">
  <button mat-icon-button class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
    <mat-icon>menu</mat-icon>
  </button>

  <menu [class.open]="isMenuOpen">
    <li>
      <a mat-raised-button color="primary" (click)="setPage('home')">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a mat-raised-button color="primary" (click)="setPage('carpets')">
        <mat-icon>dashboard</mat-icon>
        <span>Carpets</span>
      </a>
    </li>
    <li>
      <a mat-raised-button color="primary" (click)="setPage('register')">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </a>
    </li>
    <li>
      <a mat-raised-button color="primary" (click)="setPage('login')">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </a>
    </li>
    <li>
      <a mat-raised-button color="primary" (click)="setPage('profile')">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </a>
    </li>
  </menu>

  <div class="navbar-actions">
  </div>
</nav>
