.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  text-align: center;
  padding-top: 4rem;
  h2 {
    color: #B45F06;
  }
}

.logo-container {
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
  
  &:hover {
    transform: scale(1.05) rotate(2deg);
  }
  
  .logo {
    max-width: 400px;
    height: auto;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    transition: all 0.3s ease-in-out;
    
    &:hover {
      filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.3));
    }
  }
}

.shop-name {
  h1 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline-block;
    
    &:hover {
      color: var(--highlight-color);
      transform: translateY(-5px);
      
      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--highlight-color);
        transform: scaleX(1);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  .tagline {
    font-size: 1.5rem;
    color: var(--accent-color);
    font-style: italic;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
    
    .shop-name:hover & {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
